/* Invoice.css */

.invoice-container{
    /* margin: 20px; */
    padding: 20px;
    /* border: 1px solid white; */
}

.bordered-table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid red; */
  }
  
  .bordered-table th,
  .bordered-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
/* Responsive styles */
@media (max-width: 768px) {
    .invoice-container {
      width: 100%;
      padding: 10px;
    }
  
    .invoice-details table,
    .invoice-items table {
      font-size: 14px;
    }
  
    .invoice-details th,
    .invoice-details td,
    .invoice-items th,
    .invoice-items td {
      padding: 6px;
    }
  }